Package: com.luki.arizona
Name: Arizona
Version: 1.0
Architecture: iphoneos-arm
Description: Align lockscreen clock to the right because is pog and I like it.
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate
