<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>POGSwitchWithInfoCell</string>
            <key>infoTitle</key>
            <string></string>
            <key>infoMessage</key>
            <string>NONE of the changes require respring and apply dynamically, pretty great huh?</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.luki.arizonaprefs</string>
            <key>key</key>
            <string>poggers</string>
            <key>label</key>
            <string>Enable</string>
         	<key>id</key>
            <string>SWITCH_ID-1</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
			<key>id</key>
            <string>GroupCell-1</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.luki.arizonaprefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>style</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Left</string>
                <string>Center</string>
                <string>Right</string>
            </array>
			<key>id</key>
            <string>SegmentCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>alternatePosition</string>
			<key>label</key>
			<string>Custom Position</string>
			<key>id</key>
            <string>SWITCH_ID-2</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
            <string>GroupCell-3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>X Axis</string>
			<key>id</key>
			<string>XAxisID</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>xValue</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>100.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>id</key>
			<string>XValueID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Y Axis</string>
			<key>id</key>
			<string>YAxisID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>yValue</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>450.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>id</key>
			<string>YValueID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>lockGlyphPosition</string>
			<key>label</key>
			<string>Lock Glyph Position</string>
			<key>id</key>
            <string>SWITCH_ID-3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
            <string>GroupCell-4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>X Axis</string>
			<key>id</key>
			<string>LockXAxis</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>lockXValue</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>100.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>id</key>
			<string>LockXValueID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Y Axis</string>
			<key>id</key>
			<string>LockYAxis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>key</key>
			<string>lockYValue</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>450.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>id</key>
			<string>LockYValueID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>detail</key>
			<string>ContributorsRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Contributors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>discord</string>
			<key>label</key>
			<string>Chat With Us On Discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>paypal</string>
			<key>label</key>
			<string>Donate To Luki 🥰</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>github</string>
			<key>label</key>
			<string>Source Code 🔥</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>meredith</string>
			<key>label</key>
			<string>Meredith</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ArizonaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>perfectSpotify</string>
			<key>label</key>
			<string>PerfectSpotify</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<real>1</real>
			<key>footerText</key>
			<string>made by Luki with ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Arizona</string>
</dict>
</plist>